:root {
    --bg-color: #0D1117;
    --secondary-bg: #161B22;
    --card-bg: #1C2128;
    --primary-color: #FF6A00;
    --primary-hover: #FF8533;
    --text-color: #F5F5F5;
    --secondary-text: #A7ADB5;
    --border-color: #30363D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    background-color: var(--secondary-bg);
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    gap: 5px;

    align-items: center;
    height: 100%;
}

.logo h1 a {
    color: var(--primary-color);
    text-decoration: none;
}

.logo img {
    height: 100%;
    display: block;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    color: var(--primary-color);
}

main {
    background-color: var(--bg-color);
}

footer {
    background-color: var(--secondary-bg);
    color: var(--secondary-text);
}